body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    transition: background-image 5s ease-in-out;
}
.container{
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1{
    font-size: 50px;
    margin-bottom: 10px;
    color: azure;
    text-align: center;
}
button{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: bisque;
    justify-content: center;
    align-items: top;
}
.float-main{
    display: flex;
}
.float-child{
    flex: 1;
}
.float-child:first-child {
    margin-right: 20px;
}